# local package
-e .

# external requirements
click
Sphinx
coverage
flake8
isort
black
mypy
flake8-annotations
python-dotenv>=0.5.1
tensorflow>=2.5
sklearn
numpy
loguru
python-dotenv
ipykernel
matplotlib
ray[tune]
ray[default]
plotly
nbformat
bayesian-optimization
tensorboard_plugin_profile
tensorboardX


# backwards compatibility
pathlib2
